# pycharm
.idea

# python
.venv
__pycache__

# allure
allure-results
allure-report

# testing
*.html
*.json
videos
tracing

# coverage
coverage.html
coverage-results
coverage-report.json
coverage-history.json

.DS_Store

playwright_registration_button.py
playwright_registration.py
playwright_courses.py